<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorite</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
    <!--bar 1**********************************************************-->
    <div class="bar1">
        <p>MyBag*</p>
        <div class="navsearchbar">
            <select class="searchbar"><option>All</option></select>
            <!-- Add an ID to the search input field so it can be referenced -->
            <input placeholder="search MyBag" class="searchinput" id="searchInput">
            <!-- Correct the button to trigger the search function -->
            <button class="searchicon" onclick="search()">
                <h1>🔍</h1>
            </button>
        </div>
        <a href="/form" style="margin-left: 40px;">for seller</a>
        <div  class="profile">
       <a href="/profile" style="color: aliceblue ;">S</a>
        </div>
    </div> 

    <!--bar 2**********************************************************-->
    <h1>your favorite  items</h1>


    <!--bar 3**********************************************************-->
   <div class="bar33">
        <% if ( favorites&& favorites.length > 0) { %>
            <% favorites.forEach(favorite => { %>
                

                <div  class="box3" >
                    
                        <% if (favorite.image) { %>
                            <div class="image33" style='background-image: url("data:image/jpeg;base64,<%= favorite.image %>");'></div>
                        <% } else { %>
                            <div class="image33" style='background-image: url("/images/default.jpg");'></div>
                        <% } %>
                        
                  
                    
                    <p><%= favorite.productname%></p>
                    <p><%= favorite.name %></p>
                    <a><%= favorite.buyeremail %></a>
                    <p><%= favorite.selleremail %></p>
                    
                    <b>Shop Now</b>
                </div>
            <% }) %>
        <% } else { %>
            <p>No products available</p>
        <% } %>
    </div>


    <!--bar 4**********************************************************-->
    <div class="bar4">
        <div class="backtotop">
            <pre>     ^
Back To Top</pre>
        </div>
        <div class="extra">
            <pre><a>Get to Know Us</a>
About Us
Careers
Press Releases
Amazon Science</pre>
            <pre><a>Connect with Us</a>
Facebook
Twitter
Instagram</pre>
            <pre><a>Make Money with Us</a>
Sell on Amazon
Sell under Amazon Accelerator
Protect and Build Your Brand
Amazon Global Selling
Become an Affiliate
Fulfilment by Amazon
Advertise Your Products
Amazon Pay on Merchants</pre>
            <pre><a>Let Us Help You</a>
COVID-19 and Amazon
Your Account
Returns Centre
Recalls and Product Safety Alerts
100% Purchase Protection
Amazon App Download
Help</pre>
        </div>
        <div class="last">
            <p>MyBag*</p>
        </div>
        <div class="last2">
            <pre>   Thank you for being our valued customer.
We are so grateful and hope we met your expectations. </pre>
        </div>
    </div>
    <script src="my.js"></script>
</body>
</html>
